<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title><+TITLE+></title>
<meta name="generator" content="vim" />
<meta charset="UTF-8" />
<meta name="author" content="howl" />
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/markdown.css" rel="stylesheet">
<link href="/static/css/xpress.css" rel="stylesheet">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body style="margin:0 auto; width:940px;" class="row"> 
<div class="xpress-banner">
  <h1>{{ g.config.title }}</h1>
  <p>{{ g.config.subtitle }}</p>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <!--a class="brand" href="#">Title</a-->
    <ul class="nav">
      {% for key, value in g.config.nav %}
      <li><a href="{{ value.address }}">{{ key }}</a></li>
      {% endfor %}
    </ul>
    <ul class="nav" style="float:right;">
      <li id="nav-search-setting">
      <form action="" class="navbar-form pull-right" method="post">
        <input type="" class="search-query" value="" name="" />
        <button type="submit" class="btn">搜索</button>
      </form>
      </li>
      <li id="nav-rss"><a href="/register">RSS</a></li>
    </ul>
  </div>
</div>
<div>
  <table class="table">
    {% for item in index %}
    <tr>
      <td>
        <div>
            <div>
             <a href="{{ item.url }}"><h2 style="margin: 0;">{{ item.title }}</h2></a>
            </div>
            <div style="margin-bottom: 8px;">
              <blockquote>
              <small>
                <span>posted on: {{ item.ctime }}
                </span>
              </small>
              </blockquote>
            </div>
            <div class="markdown-body">
            {{ item.summary | safe }}
            </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div>
  <ul class="pager">
  <li class="previous {% if not page.next_page_flag %}disabled{% endif %}">
  <a href="{% if page.next_page_flag %}?page={{ page.next_page }}{% else %}javascript:void(0);{% endif %}">&larr; Older</a>
  </li>
  <li class="next {% if not page.pre_page_flag %}disabled{% endif %}">
  <a href="{% if page.pre_page_flag %}?page={{ page.pre_page }}{% else %}javascript:void(0);{% endif %}">Newer &rarr;</a>
  </li>
  </ul>
</div>
<div>
  <!--<ul class="unstyled" style="display:block; margin:100px auto 0; width:160px;">-->
    <!--<li style="display:inline;"><a href="/about">关于</a></li>-->
    <!--<li style="display:inline;"><a href="/hot">风云榜</a></li>-->
    <!--<li style="display:inline;"><a href="/rank">封神榜</a></li>-->
    <!--<li style="display:inline;"><a href="/api">API</a></li>-->
  <!--</ul>-->
  <ul class="unstyled" style="display:block; margin:10px auto 0; width:110px;">
    <li style="display:inline;">{{ g.config.copyright | safe }}</li>
    <li style="display:inline;">{{ g.config.powerby | safe }}</li>
  </ul>
</div>
</body>
</html>
